include Changelog
include doc/*
include test/assertions.py
include test/factories.py
include test/helper.py
include test/testing_project.py
include test/__init__.py
include test/data/*.py
include lib2to3/Grammar.txt
include lib2to3/PatternGrammar.txt
include scripts/pythoscope
include pythoscope/_util.c
